/summarAize_app/app/.env
/summarAize_app/app/generated_audios
/summarAize_app/app/generated_audios/alignments
/summarAize_app/frontend/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Audio files
*.mp3
*.wav
*.ogg
*.png
*.mp4
*.txt
*.pdf
*.jpeg

# Python cache files
__pycache__/
*.py[cod]
*$py.class
115a_venv

# Firebase credentials
**/credentials/
**/firebase-service-account.json
firebase-service-account.json

# Generated audio directories
**/generated_audios/
