/backend/app/.env
/summarAize_app/frontend/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Audio files
*.mp3
*.wav
*.ogg

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Generated audio directories
**/generated_audios/
